body {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 0;

  }
  h1 {
    font-family: Courier;
    color: rgb(12, 12, 12);
    padding: 20px;
    margin-left:80px;

  }

  h2 {
    font-family: Courier;
    color: rgb(12, 12, 12);
  }

  p, ul, li {
    font-family: Courier;
    color: rgb(12, 12, 12);
  }
  div.header li {
    display: inline;
    padding: 40px;
    list-style-type: none;
    margin: 40px;
  }
  div.header {
    padding: 0px;
    padding-top: 80px;

  }
  div.header li a {
    color: rgb(12, 12, 12);
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    padding: 40px;
    margin-left: 40px;
  }
  .content h2 {
    padding: 0;
    margin-left: 20px;
  }
  .content p {
    padding: 0;
    margin-left: 20px;
  }
  .content li {
    margin-bottom: 10px;
  }